# Patterns to ignore when building packages.
.DS_Store
.git/
.gitignore
.bzr/
.bzrignore
.hg/
.hgignore
.svn/
*.swp
*.bak
*.tmp
*.orig
*~
.project
.idea/
*.tmproj
.vscode/
test/
tests/
*_test.go
.github/
.gitlab-ci.yml
.travis.yml
scripts/
.chart-repo/
docs/
local-values.yaml
values-local.yaml
*.local.yaml
.env
.envrc
