apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "openclaw.configMapName" . }}
  labels:
    {{- include "openclaw.labels" . | nindent 4 }}
data:
  openclaw.json: |
{{ .Values.openclaw.config | toJson | indent 4 }}
